.site-view-table.light {
  background: rgba(255, 255, 255, 0.6);
}

.site-view-table.dark {
  background: rgba(0, 0, 0, 0.6);
}

.site-view-table th {
  font-family: heeboBoldFont;
  font-size: 1.5em;
  width: auto;
  text-align: center;
  padding: 0px;
  white-space: nowrap;
  height: 60px;
}

.site-view-table th div {
  border-radius: 0;
}

.site-view-table td {
  font-family: heeboFont;
  font-size: 1em;
  text-align: right;
  min-width: 100px;
  width: auto;
  height: 40px;
  padding: 0px;
  white-space: nowrap;
}
