.main-login-page {
  font-family: heeboFont;
  margin: auto;
  width: 100%;
}

.main-login-page h1 {
  font-family: heeboBoldFont;
  font-size: 2.5em;
  margin: 0px;
  padding: 0px;
}

.main-login-page div,
.main-login-page label,
.main-login-page span,
.main-login-page button {
  margin-bottom: 5px;
  font-family: inherit;
}
