.MuiTableCell-root.pakal-header-cell {
  font-family: heeboBoldFont;
  font-size: 1.2em;
  width: auto;
  direction: rtl;
  text-align: center;
  padding: 0px;
  padding-bottom: 10px;
  min-width: 80px;
  white-space: nowrap;
  height: 60px;
  border: 0px;
}

.MuiTableCell-root.pakal-header-cell div {
  background-color: transparent;
}

.MuiTableCell-root.pakal-header-cell.light {
  background: rgb(240, 240, 240);
  color: rgb(96, 96, 96);
}

.MuiTableCell-root.pakal-header-cell.dark {
  background: rgb(39, 39, 39);
  color: rgb(191, 191, 181);
}

.MuiTableCell-root.pakal-body-cell {
  font-family: heeboFont;
  font-size: 1em;
  text-align: center;
  min-width: 80px;
  width: auto;
  height: 40px;
  padding: 0px;
  white-space: nowrap;
}

.MuiTableCell-root.pakal-body-cell.light {
  border-right: 1px solid rgb(224, 224, 224);
  border-left: 1px solid rgb(224, 224, 224);
}

.MuiTableCell-root.pakal-body-cell.dark {
  border-right: 1px solid rgb(81, 81, 81);
  border-left: 1px solid rgb(81, 81, 81);
}

.MuiTableCell-root.pakal-body-cell div {
  height: inherit;
}

.MuiTextField-root.pakal-filter {
  font-family: heeboBoldFont;
  width: auto;
  height: inherit;
}

.MuiTextField-root.pakal-filter div {
  border-radius: 0;
  /* color: inherit; */
}

.MuiTextField-root.pakal-filter input {
  font-family: heeboBoldFont;
  font-size: 1.2em;
  font-weight: bold;
  height: inherit;
}

.MuiTextField-root.pakal-filter label {
  font-family: heeboBoldFont;
  font-size: 0.7em;
}

.MuiTextField-root.pakal-body-input {
  width: 100%;
  height: 100%;
  background: inherit;
}

.MuiTextField-root.pakal-body-input div {
  background-color: transparent;
  border-radius: 0px;
  font-size: 1.5em;
}

.MuiTextField-root.pakal-body-input.light div:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.MuiTextField-root.pakal-body-input.dark div:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.MuiTextField-root.pakal-body-input input {
  font-size: 0.7em;
  font-family: heeboFont;
  text-align: center;
  padding: 0;
}

.main-table-container {
  display: flex;
  flex-direction: row-reverse;
  overflow: auto;
  max-height: 85%;
  max-width: 100%;
  justify-content: left;
  margin: 0px 20px;
  padding-left: 2px;
  background-color: inherit;
}

.table-pagination {
  position: fixed;
  padding-right: 4%;
  bottom: 5px;
  right: 5px;
  z-index: 99;
}

.MuiTypography-root.dialog-title {
  font-family: heeboBoldFont;
  font-size: 2em;
}

.MuiTextField-root.table-filter {
  font-family: heeboBoldFont;
  width: 100%;
  height: inherit;
}

.MuiTextField-root.table-filter div {
  height: inherit;
}

.MuiTextField-root.table-filter input {
  font-family: heeboBoldFont;
  font-size: 1.2em;
  font-weight: bold;
}

.MuiTextField-root.table-filter label {
  font-family: heeboBoldFont;
  font-size: 0.7em;
}
